<div th:fragment="userDetailsFragment" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div th:each="user, iterStat : ${users}" class="col-md-6 col-lg-4">
                <div class="card mb-4">
                    <a th:href="@{/user/{id}(id=${user.id})}">
                        <img class="card-img-top" th:src="${user.imageUrl}" alt="User Image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${user.username}"></h5>
                        <p class="card-text" th:text="${user.firstName + ' ' + user.lastName}"></p>
                        <p class="card-text" th:text="${'Active: ' + user.active}"></p>
                        <p class="card-text" th:text="${'Role: ' + user.role}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>