<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
<body>
<div class="d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/header}"></header>
    <div class="container">
        <form th:action="@{/sign/up}" th:method="post" th:object="${userRegistrationDto}">
            <h2 class="text-center mb-4">Registration</h2>
            <div th:if="${param.success}" class="alert alert-success" role="alert">
                Registration successful! You can now login.
            </div>
            <div class="mb-3">
                <label class="form-label" for="firstName">First Name</label>
                <input th:field="*{firstName}" th:errorclass="is-invalid" type="text" class="form-control text-center"
                       id="firstName" aria-describedby="username" />
                <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></small>
            </div>

            <div class="mb-3">
                <label class="form-label" for="lastName">Last Name</label>
                <input th:field="*{lastName}" th:errorclass="is-invalid" type="text" class="form-control text-center"
                       id="lastName" aria-describedby="lastName" />
                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></small>
            </div>

            <div class="mb-3">
                <label class="form-label" for="firstName">Username</label>
                <input th:field="*{username}" th:errorclass="is-invalid" type="text" class="form-control text-center"
                       id="username" aria-describedby="username" />
                <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></small>
            </div>
            <div class="mb-3">
                <label class="form-label" for="firstName">Password</label>
                <input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control text-center"
                       id="password" aria-describedby="password" />
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></small>
            </div>
            <div class="mb-3">
                <label class="form-label" for="firstName">Confirm Password</label>
                <input th:field="*{confirmPassword}" th:errorclass="is-invalid" type="password" class="form-control text-center"
                       id="confirmPassword" aria-describedby="confirmPassword" />
                <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></small>
                <small th:if="${#fields.hasErrors('isPasswordsMatch')}" th:errors="*{isPasswordsMatch}" class="text-danger"></small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
